.signature.p7s
EmptyKeysUI_MonoGame.3.0.0.nupkg
BehaviorsLicense.txt
license.txt
DirectionalBlurShader.fx
EmptyKeys.UserInterface.Core.XML
EmptyKeys.UserInterface.Core.dll
EmptyKeys.UserInterface.Debug.dll
EmptyKeys.UserInterface.Debug.pdb
EmptyKeys.UserInterface.MonoGame.dll
EmptyKeys.UserInterface.dll
EmptyKeys.UserInterface.xml
InstallationDummyFile.txt
FSPowerPack.Community.3.0.0.0.nupkg
FSharp.Compiler.CodeDom.dll
FSharp.Compiler.CodeDom.xml
FSharp.PowerPack.Build.Tasks.dll
FSharp.PowerPack.Build.Tasks.xml
FSharp.PowerPack.Compatibility.dll
FSharp.PowerPack.Compatibility.xml
FSharp.PowerPack.targets
fslex.exe
fsyacc.exe
install.ps1
FSPowerPack.Core.Community.2.0.0.0.nupkg
FSharp.PowerPack.dll
FSharp.PowerPack.xml
FSPowerPack.Linq.Community.2.0.0.0.nupkg
FSharp.PowerPack.Linq.dll
FSharp.PowerPack.Linq.xml
FSPowerPack.Metadata.Community.2.0.0.0.nupkg
FSharp.PowerPack.Metadata.dll
FSharp.PowerPack.Metadata.xml
FSPowerPack.Parallel.Seq.Community.2.0.0.0.nupkg
FSharp.PowerPack.Parallel.Seq.dll
FSharp.PowerPack.Parallel.Seq.xml
FSharp.Core.4.5.4.nupkg
FSharp.Core.dll
FSharp.Core.optdata
FSharp.Core.sigdata
FSharp.Core.xml
FSharp.Core.resources.dll
LICENSE.TXT
System.Drawing.Common.4.5.1.nupkg
THIRD-PARTY-NOTICES.TXT
_._
System.Drawing.Common.dll
useSharedDesignerContext.txt
version.txt
System.ValueTuple.4.4.0.nupkg
System.ValueTuple.dll
System.ValueTuple.xml
